@import "tailwindcss";

@theme {
  --color-cyber-dark: #050505;
  --color-cyber-primary: #00f0ff;
  --color-cyber-secondary: #7000ff;
  --color-cyber-accent: #0aff00;
  --color-cyber-muted: #121212;
  --color-cyber-border: #2a2a2a;
  --color-cyber-text: #e0e0e0;

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  --animate-spotlight: spotlight 2s ease .75s 1 forwards;
  --animate-decrypted: decrypted 2s infinite;

  @keyframes spotlight {
    0% { opacity: 0; transform: translate(-72%, -62%) scale(0.5); }
    100% { opacity: 1; transform: translate(-50%,-40%) scale(1); }
  }
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505; 
}
::-webkit-scrollbar-thumb {
  background: #333; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f0ff; 
}
